<footer class="bg-black py-6 shadow-md">
  <div
    class="container mx-auto px-4 flex flex-col md:flex-row items-center justify-between"
  >
    <div class="text-center md:text-left mb-4 md:mb-0">
      <span class="text-sm text-gray-100">
        © {{ year }}
        <a href="https://turr.hu/" class="text-blue-500 hover:underline"
          >Türr Pizza™</a
        >. All rights reserved.
      </span>
      <div class="mt-2 text-gray-600 dark:text-gray-100">
        <h1 class="text-lg font-semibold">{{ title }}</h1>
        <p class="text-sm">{{ subtitle }}</p>
        <p class="text-sm">{{ author }}</p>
        <p class="text-sm">{{ company }}</p>
      </div>
    </div>
    <ul
      class="flex flex-wrap justify-center md:justify-end gap-4 text-sm font-medium text-gray-600 dark:text-gray-400"
    >
      <li>
        <a href="#" class="hover:text-blue-500">About</a>
      </li>
      <li>
        <a href="#" class="hover:text-blue-500">Privacy Policy</a>
      </li>
      <li>
        <a href="#" class="hover:text-blue-500">Licensing</a>
      </li>
      <li>
        <a href="#" class="hover:text-blue-500">Contact</a>
      </li>
    </ul>
  </div>
</footer>
