<div class="w-full text-center py-10 bg-red-700/80 text-white">
  <h1 class="text-4xl font-bold mb-4">
    Üdvözöllek a <span class="text-yellow-300 underline">Pizzériánkban</span>!
  </h1>
  <p class="text-lg m-6">
    Fedezd fel pizzáink
    <span class="font-semibold text-yellow-200">hatalmas választékát</span>.
  </p>
  <a
    href="/pizzak"
    class="tm-6 px-6 py-3 bg-yellow-400 text-red-800 font-bold rounded-lg shadow-lg hover:bg-yellow-500 transition duration-300"
  >
    Böngéssz Most
  </a>
</div>
<app-header></app-header>
<div class="w-full text-center bg-black text-white flex flex-col pb-20">
  <h1 class="text-[4em] font-bold">
    Már <span class="font-bold text-[2em]">5</span> éve együtt!
  </h1>
  <p class="text-[3em] -mt-12">
    Köszönjük, hogy
    <span class="text-[2em] text-yellow-400">minket</span> választassz!
  </p>
</div>
